<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="zz.utility">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:supportsRtl">
        <activity
            android:name=".utility.NotesActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".utility.SizeActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NavOverlay.NoActionBar" />
        <activity
            android:name=".utility.MapActivity"
            android:exported="false"
            android:label="@string/shortcut_map"
            android:theme="@style/AppTheme.NavOverlay.NoActionBar" />
        <activity
            android:name=".utility.CounterActivity"
            android:exported="true"
            android:label="@string/title_calculate" />
        <activity
            android:name=".utility.LocalFileActivity"
            android:exported="true"
            android:label="@string/title_downloader" />
        <activity android:name=".utility.ClockActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Utility Main Screen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".utility.QRCodeGeneratorActivity"
            android:label="@string/title_activity_qr_code_generator"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".utility.InfoActivity"
            android:label="@string/title_activity_info"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".utility.BarcodeScanningActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".demo.TestScreenActivity"
            android:parentActivityName=".demo.LoginActivity" />
        <activity
            android:name=".demo.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.Login" />
        <activity
            android:name=".text.TextReceiveActivity"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>

</manifest>