<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zz.utility">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NavOverlay.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".launcher.LauncherActivity"
            android:label="@string/title_activity_launcher"
            android:theme="@style/LauncherTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".utility.GPSActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".utility.QuoteActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".utility.SensorsActivity"
            android:label="@string/title_activity_sensors"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".utility.WiFiScannerActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".utility.QRCodeGeneratorActivity"
            android:label="@string/title_activity_qr_code_generator"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".utility.InfoActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".utility.AndroidVersionsActivity"
            android:label="@string/title_activity_versions"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".utility.BarcodeScanningActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".maps.MapsActivity"
            android:theme="@style/AppTheme.NavOverlay.NoActionBar">
            <intent-filter android:label="Open Link">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="maps"
                    android:scheme="utility" />
            </intent-filter>
        </activity>
        <activity
            android:name=".poc.TestBottomNavigationActivity"
            android:label="@string/title_activity_test_bottom_navigation"
            android:parentActivityName=".poc.PocMenuActivity" />
        <activity
            android:name=".poc.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".poc.PocMenuActivity"
            android:theme="@style/AppTheme.Login" />
        <activity
            android:name=".bot.BotActivity"
            android:parentActivityName=".poc.PocMenuActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".poc.POSActivity"
            android:parentActivityName=".poc.PocMenuActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".utility.CameraScalesActivity"
            android:label="Camera Scales"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".scrum.ScrumPokerActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".browser.FileBrowserActivity"
            android:parentActivityName=".MainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".browser.TextViewActivity" />
        <activity
            android:name=".utility.ListActivity"
            android:label="@string/title_activity_list"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".poc.DashboardActivity"
            android:parentActivityName=".poc.PocMenuActivity" />
        <activity
            android:name=".browser.gallery.GalleryActivity"
            android:label="@string/title_activity_gallery"
            android:parentActivityName=".browser.FileBrowserActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".poc.PocMenuActivity"
            android:label="POC Screens"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".utility.ImageDownloadActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".utility.KnowledgeActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".browser.VideoPlayerActivity"
            android:parentActivityName=".browser.FileBrowserActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".utility.CarDockActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".text.TextReceiveActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".utility.DailyComicActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".utility.QuoteApiActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".utility.TouchScreenActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".maps.MapsPointsActivity"
            android:theme="@style/AppTheme.NavOverlay.NoActionBar" />
        <activity
            android:name=".environment.PhysicalEnvironmentActivity"
            android:label="Physical Environment"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".browser.QuickSortActivity"
            android:parentActivityName=".browser.FileBrowserActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".browser.SorterActivity"
            android:parentActivityName=".browser.FileBrowserActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".poc.NotificationActivity" />
    </application>

</manifest>